<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <title>Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage_user/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/homepage_user/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="/static/homepage_user/css/style.css" rel="stylesheet">
    <link href="/static/homepage_user/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/homepage_user/css/lightbox.min.css">
    <link href="/static/homepage_user/css/responsive.css" rel="stylesheet">
    <script src="/static/homepage_user/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/instafeed.min.js" type="text/javascript"></script>
    <script src="/static/homepage_user/js/custom.js" type="text/javascript"></script>
</head>
<body>
<div id="page">
    <!---header top---->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="social-grid">
                        <ul class="list-unstyled text-right">
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header--->
    <header class="header-container">
        <div class="container">
            <div class="top-row">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div id="logo">
                            <a th:href="@{/fpt-dorm/home}"><span>FPT</span>Dorm</a>
                        </div>
                    </div>
                    <div class="col-sm-6 visible-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header page-scroll">
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                <ul class="list-unstyled nav1 cl-effect-10">
                                    <li><a data-hover="Home" th:href="@{/fpt-dorm/home}"><span>Home</span></a></li>
                                    <li><a data-hover="About" th:href="@{/fpt-dorm/home/about}"><span>About</span></a></li>
                                    <li><a data-hover="Rooms" th:href="@{/fpt-dorm/home/room}"><span>Rooms</span></a></li>
                                    <li><a data-hover="Gallery" th:href="@{/fpt-dorm/home/gallery}"><span>Gallery</span></a></li>
                                    <li><a data-hover="Dinning" th:href="@{/fpt-dorm/home/dinning}"><span>Dinning</span></a></li>
                                    <li><a data-hover="Contact Us" class="active"><span>Contact Us</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12 hidden-sm">
                        <div class="text-right">
                            <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--end-->
    <section class="image-head-wrapper" style="background-image: url('/static/homepage_user/images/banner4.jpg');">
        <div class="inner-wrapper">
            <h1>Contact Us</h1>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="contact-block">
        <div class="container">
            <div class="col-md-6 contact-left-block">
                <h3><span>Contact </span>Us</h3>
                <p class="text-left">Welcome to FPT Dorm Booking. Please contact us for any inquiries about room reservations and dormitory facilities.</p>
                <p class="text-right">Khu Giáo dục và Đào tạo – Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, Thạch Thất, TP. HN <i class="fa fa-map-marker fa-lg"></i></p>
                <p class="text-right"><a href="tel:+842473001866"> (024) 7300.1866 / (024) 7300.5588 <i class="fa fa-phone fa-lg"></i></a></p>
                <p class="text-right"><a href="mailto:daihocfpt@fpt.edu.vn"> daihocfpt@fpt.edu.vn <i class="fa fa-envelope"></i></a></p>
            </div>
            <div class="col-md-6 contact-form">
                <h3>Send a <span>Message</span></h3>
                <form action="/sendContactMessage" method="post">
                    <input type="text" class="form-control" name="Name" placeholder="Name" required="">
                    <input type="email" class="form-control" name="Email" placeholder="Email" required="">
                    <textarea class="form-control" name="Message" placeholder="Message Here...." required=""></textarea>
                    <input type="submit" class="submit-btn" value="Submit">
                </form>
                <!-- Success message display -->
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <p th:text="${successMessage}"></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>

    <!---map--->
    <section class="offspace-70">
        <div class="map">
            <div class="container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.5062169040166!2d105.52271427471399!3d21.012421688340613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345034716dc947%3A0x2be1bbbc9ec2e24c!2sFPT%20University%20Hoa%20Lac!5e0!3m2!1sen!2s!4v1623033087840!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!---footer--->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
                    <div class="footer-details">
                        <h4>Contact Us</h4>
                        <ul class="list-unstyled footer-contact-list">
                            <li>
                                <i class="fa fa-map-marker fa-lg"></i>
                                <p>FPT University, Hoa Lac Campus, Km29 Thang Long Boulevard, Thach That, Hanoi</p>
                            </li>
                            <li>
                                <i class="fa fa-phone fa-lg"></i>
                                <p><a href="tel:+842473001866"> (024) 7300.1866 / (024) 7300.5588 </a></p>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o fa-lg"></i>
                                <p><a href="mailto:daihocfpt@fpt.edu.vn"> daihocfpt@fpt.edu.vn</a></p>
                            </li>
                        </ul>
                        <div class="footer-social-icon">
                            <ul class="list-inline">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                                <li><a class="fa fa-linkedin" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                                <li><a class="fa fa-youtube-play" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                    <div class="footer-details">
                        <h4>explore</h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="/fpt-dorm/home/about">About</a></li>
                            <li><a href="/fpt-dorm/home/room">Rooms</a></li>
                            <li><a href="/fpt-dorm/home/gallery">Gallery</a></li>
                            <li><a href="/fpt-dorm/home/dinning">Dinning</a></li>
                            <li><a href="/fpt-dorm/home/news">News</a></li>
                            <li><a href="/fpt-dorm/home/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                    <div class="footer-details">
                        <h4>We are global</h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Corporate</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
                    <div class="footer-details">
                        <h4>newsletter</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter email here...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">subscribe</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--back to top--->
    <a href="#0" class="cd-top">Top</a>
</div>
</body>
</html>
