<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/change-password}" method="get">
    <input type="hidden" name="user_id" th:value="${user_id}">
    <label>Enter Pass: </label>
    <input type="password" name="password" required>
    <label>New Password: </label>
    <input type="password" required name="NewPassword">
    <label>Retype new Password: </label>
    <input type="password" required name="ReNewPassword">
    <button type="submit">Save</button>
</form>
<div th:if="${errorMessage != null}">
    <p th:text="${errorMessage}"></p>
</div>
<div th:if="${succeedMessage != null}">
    <p th:text="${succeedMessage}"></p>
</div>
</body>
</html>