<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:class="container">
    <div th:class="row">
        <form th:action="@{/change-password}" method="post">
            <input type="hidden" name="user_id" th:value="${user_id}">
            <label>Enter Pass: </label>
            <input type="password" name="password" required>
            <label>New Password: </label>
            <input type="password" required name="NewPassword">
            <label>Retype new Password: </label>
            <input type="password" required name="ReNewPassword">
            <button type="submit">Save</button>
        </form>
        <div th:if="${errorMessage != null}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div th:if="${succeedMessage != null}">
            <p th:text="${succeedMessage}"></p>
            <a th:href="@{/home}">
                Back to Homepage
            </a>
        </div>
    </div>
</div>
</body>
</html>
