<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
  <title>Room</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/homepage_user/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/homepage_user/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template -->
  <link href="/static/homepage_user/css/style.css" rel="stylesheet">
  <link href="/static/homepage_user/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/homepage_user/css/lightbox.min.css">
  <link href="/static/homepage_user/css/responsive.css" rel="stylesheet">
  <script src="/static/homepage_user/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/homepage_user/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/homepage_user/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
  <script src="/static/homepage_user/js/instafeed.min.js" type="text/javascript"></script>
  <script src="/static/homepage_user/js/custom.js" type="text/javascript"></script>
  <style>
    .avatar1 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
        margin-left: 55%;
    }

    .comment {
      border-bottom: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
    }

    .comment-header {
      display: block;
    }

    .comment-user, .rating, .comment-meta {
      display: block;
      margin-bottom: 5px;
    }

    .comment-user {
      font-weight: bold;
    }

    .rating {
      display: inline-block;
    }

    .star {
      color: #ccc;
    }

    .filled-star {
      color: #ffcc00;
    }

    .comment-meta {
      color: #888;
      font-size: 12px;
    }

    .comment-body {
      margin-top: 10px;
    }



    .comment time {
      font-size: 0.9em;
      color: #777;
      margin-bottom: 10px;
      display: block;
    }
    .pagination-wrapper {
      text-align: center;
      margin-top: 30px;
    }
    .pagination li a {
      background: #fff;
      border: 1px solid #ddd;
      color: #007bff;
      padding: 10px 15px;
      border-radius: 5px;
      margin: 0 5px;
      transition: background 0.3s ease, color 0.3s ease;
    }
    .pagination li a:hover {
      background: #007bff;
      color: #fff;
    }
    .pagination li.active a {
      background: #007bff;
      color: #fff;
      border: 1px solid #007bff;
    }
  </style>
</head>
<body>
<div id="page">
  <!---header top---->
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <!--header--->
  <header class="header-container">
    <div class="container">
      <div class="top-row">
        <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div id="logo">
              <a th:href="@{/fpt-dorm/home}"><span>FPT</span>Dorm</a>
            </div>
          </div>
          <div class="col-sm-6 visible-sm">
            <div class="text-right">
              <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
            <nav class="navbar navbar-default">
              <div class="navbar-header page-scroll">
                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                <ul class="list-unstyled nav1 cl-effect-10">
                  <li><a data-hover="Home" th:href="@{/fpt-dorm/home}"><span>Home</span></a></li>
                  <li><a data-hover="About" th:href="@{/fpt-dorm/home/about}"><span>About</span></a></li>
                  <li><a data-hover="Rooms" class="active"><span>Rooms</span></a></li>
                  <li><a data-hover="Gallery" th:href="@{/fpt-dorm/home/gallery}"><span>Gallery</span></a></li>
                  <li><a data-hover="Dinning" th:href="@{/fpt-dorm/home/dinning}"><span>Dinning</span></a></li>
                  <li><a data-hover="Contact Us" th:href="@{/fpt-dorm/home/contact}"><span>Contact Us</span></a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-12 hidden-sm">
            <div class="text-right">
              <a href="/fpt-dorm/user/news" class="book-now-btn">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!--end-->
  <section class="image-head-wrapper" style="background-image: url('/static/homepage_user/images/banner.jpg');">
    <div class="inner-wrapper">
      <h1>Rooms</h1>
    </div>
  </section>
  <div class="clearfix"></div>

  <!--gallery block--->
  <section class="gallery-block gallery-front">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="/static/homepage_user/images/room1.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room1.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="/static/homepage_user/images/room2.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room2.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="/static/homepage_user/images/room3.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room3.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="img-responsive" src="/static/homepage_user/images/room4.png">
            <div class="overlay">
              <a class="info pop example-image-link img-responsive" href="/static/homepage_user/images/room4.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
              <p><a>room</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="container">
          <div class="row">
              <div class="col-md-9 col-sm-8 col-xs-12">
                  <div class="clearfix"></div>
                  <br/><br/><br/><br/>

                  <div class="comments">
                      <h3>All Feedback</h3><br/>
                      <div class="container mt-4">
                          <div th:each="comment : ${comments}">
                              <div class="row comment-header">
                                  <div class="col-md-1">
                                      <div class="comment-container">
                                          <img th:src="${comment.avatar}" class="avatar1" alt="Avatar">
                                      </div>
                                  </div>
                                  <div class="col-md-11">
                                      <div><span class="comment-user" th:text="${comment.email}"></span></div>
                                      <div class="rating">
                                    <span th:each="i : ${#numbers.sequence(1, 5)}"
                                          th:classappend="${i <= comment.rating} ? 'filled-star' : 'empty-star'"
                                          class="star">&#9733;</span>
                                      </div>
                                      <div class="comment-meta">
                                          <span th:text="${comment.createdAt}"></span> | <span th:text="${comment.roomNumber}"></span>
                                      </div>
                                      <div>
                                          <strong th:text="${comment.title}"></strong>
                                      </div>
                                      <div class="comment-body">
                                          <p th:text="${comment.comment}"></p>
                                      </div>
                                  </div>
                              </div>
                              <hr/>
                          </div>
                      </div>
                  </div>

                  <div class="pagination-wrapper col-lg-12">
                      <ul class="pagination">
                          <!-- Previous Page Link -->
                          <li th:if="${currentPage > 0}">
                              <a th:href="@{/fpt-dorm/home/room(page=0)}" aria-label="First">
                                  <span aria-hidden="true">&laquo;&laquo;</span>
                              </a>
                          </li>

                          <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                              th:if="${i == 0 or i == totalPages - 1 or (i >= currentPage - 2 and i <= currentPage + 2)}"
                              th:classappend="${i == currentPage} ? 'active'">
                              <a th:href="@{/fpt-dorm/home/room(page=${i})}" th:text="${i + 1}"></a>
                          </li>

                          <li th:if="${currentPage < totalPages - 1}">
                              <a th:href="@{/fpt-dorm/home/room(page=${totalPages - 1})}" aria-label="Last">
                                  <span aria-hidden="true">&raquo;&raquo;</span>
                              </a>
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>


  </section>

  <!--service block--->
  <section class="service-block">
    <div class="bg-set-col">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 width-50">
            <div class="service-details text-center">
              <div class="service-image">
                <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/wifi.png">
              </div>
              <h4><a>free wifi</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 width-50">
            <div class="service-details text-center">
              <div class="service-image">
                <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/key.png">
              </div>
              <h4><a>room service</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
            <div class="service-details text-center">
              <div class="service-image">
                <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/car.png">
              </div>
              <h4><a>free parking</a></h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
            <div class="service-details text-center">
              <div class="service-image">
                <img alt="image" class="img-responsive" src="/static/homepage_user/images/icons/user.png">
              </div>
              <h4><a>customer support</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>




  </section>

  <!---footer--->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 col-xs-12 width-set-50">
          <div class="footer-details">
            <h4>Get in touch</h4>
            <ul class="list-unstyled footer-contact-list">
              <li>
                <i class="fa fa-map-marker fa-lg"></i>
                <p>Education and Training Area - Hoa Lac High-Tech Park - Km29 Thang Long Avenue, Thach That, City. HN</p>
              </li>
              <li>
                <i class="fa fa-phone fa-lg"></i>
                <p><a href="tel:+842473001866"> (024) 7300.1866 / (024) 7300.5588</a></p>
              </li>
              <li>
                <i class="fa fa-envelope-o fa-lg"></i>
                <p><a href="mailto:daihocfpt@fpt.edu.vn"> daihocfpt@fpt.edu.vn</a></p>
              </li>
            </ul>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 width-50 width-set-50">
          <div class="footer-details">
            <h4>explore</h4>
            <ul class="list-unstyled footer-links">
              <li><a th:href="@{/fpt-dorm/home}">Home</a></li>
              <li><a th:href="@{/fpt-dorm/home/about}">About</a></li>
              <li class="active"><a>Rooms</a></li>
              <li><a th:href="@{/fpt-dorm/home/gallery}">Gallery</a></li>
              <li><a th:href="@{/fpt-dorm/home/dinning}">Dinning</a></li>
              <li> <a th:href="@{/fpt-dorm/home/contact}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <div class="footer-details">
            <h4>Now On Instagram</h4>
            <div class="row">
              <div class="instagram-images">
                <div id="instafeed"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        &copy; 2024 All right reserved. Designed by <a href="http://localhost:8080/fpt-dorm/home" target="_blank">SWP391</a>
      </div>

    </div>

  </footer>

  <!--back to top--->
  <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
    <span>Top</span>
  </a>

</div>

</body>
</html>
