<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <title>Request</title>
    <style>
        .form_list li{
            list-style: none;
            margin: 40px;
        }
        .request_box{
            background-color:#dfe7f5;
            padding: 20px;
            box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h1{
            font-weight: 700;
            margin-bottom: 20px;
        }
        .request_list{
            padding: 20px;
            margin-bottom: 30px;
            margin-right: auto;
        }
    </style>
</head>
<body>
        <div class="row">
            <div class="col-lg-8 col-sm-12 request_list">
                <h1>Request History</h1>
                <div>
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Content</th>
                            <th>Sent At</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="complain : ${complaintDTOList}">
                            <td th:text="${complain.complaintId}"></td>
                            <td th:text="${complain.description}"></td>
                            <td th:text="${complain.createdAt}"></td>
                            <td th:text="${complain.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 request_box">
                <form>
                    <h1 class="center-block">Request Form</h1>
                    <ul class="form_list">
                        <li>
                            <label class="control-label">Tilte<span class="text-danger">*</span></label>
                            <input type="text" name="title" class="form-control" required>
                        </li>
                        <li>
                            <label class="control-label">Content<span class="text-danger">*</span></label>
                            <textarea name="content" class="form-control" cols="100" rows="10"></textarea>
                        </li>
                        <li>
                            <button class="btn btn-lg book-now-btn center-block">Send Request</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
</body>
</html>
