<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:class="container">
    <div th:class="row">
        <div th:class="col-lg-3">
            <img src="" alt="avatar" height="300px" width="200px">
        </div>
        <div th:class="col-lg-9">
            <div th:if="${user != null}">
                <h2>User Profile:</h2>
                <table>
                    <tbody th:object="${user}">
                    <tr><a class="btn btn-outline-info" th:href="@{/password-permission(id=${user.userId})}">Change Password</a></tr>
                    <tr>
                        <td>User Name:</td>
                        <td th:text="*{username}"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td th:text="*{gender}"></td>
                    </tr>
                    <tr>
                        <td>Birth: </td>
                        <td th:text="*{#temporals.format(birthdate, 'dd/MM/yyyy')}"></td>
                    </tr>
                    <tr>
                        <td>Phone: </td>
                        <td th:text="*{phoneNumber}"></td>
                    </tr>
                    <tr>
                        <td>Address: </td>
                        <td th:text="*{address}"></td>
                    </tr>
                    <tr>
                        <td>Indentify ID: </td>
                        <td th:text="*{cccdNumber}"></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td th:text="*{email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${errorMessage != null || succeedMessage != null}">
                <p th:text="${errorMessage} || ${succeedMessage}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
