<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div id="content1">
    <img src="" height="60px" width="40px">
</div>
<div id="content2">
    <label for="username"/>
    <input type="text" id="username" class="" value="">
    <label for="password"/>
    <input type="password" id="password" class="" value="">
    <label for="roleUser"/>
    <input type="text" id="roleUser" class="" value="">
    <label for="gender"/>
    <input type="text" id="gender" class="" value="">
    <label for="birthdate"/>
    <input type="text" id="birthdate" class="" value="">
    <label for="phoneNumber"/>
    <input type="" id="phoneNumber" class="" value="">
    <label for="address"/>
    <input type="text" id="address" class="" value="">
    <label for="email"/>
    <input type="text" id="email" class="" value="">
</div>
</body>
</html>