<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature</title>
    <link href="/static/homepage_user/css/bootstrap.min.css" rel="stylesheet">
    <style>
        canvas {
            border: 1px solid #000;
            width: 100%;
            height: 200px;
    }
  </style>
</head>
<body>
<div class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-lg-5">
            <canvas id="signature-pad" width="600" height="200"></canvas>
            <div class="container" style="width: 200px; margin-top: 20px">
                <button class="btn btn-danger" id="clear"><strong>Clear</strong></button>
                <button class="btn btn-success" id="save"><strong>Save</strong></button>
            </div>
        </div>
        <div class="col-lg-5" style="padding-left: 40px; font-size:18px">
            <ul>
                <li>Sign in left side pad to confirm your contract</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script>
  const canvas = document.getElementById('signature-pad');
  const signaturePad = new SignaturePad(canvas);

  document.getElementById('clear').addEventListener('click', () => {
    signaturePad.clear();
  });

  document.getElementById('save').addEventListener('click', () => {
    if (signaturePad.isEmpty()) {
      alert('Please provide a signature first.');
    } else {
        const dataURL = signaturePad.toDataURL();
        const bookingId = new URLSearchParams(window.location.search).get('bookingId');

        fetch('/api/add-signature', {
            method: 'POST',
            body: JSON.stringify({
                bookingId: bookingId,
                signatureDataUrl: dataURL
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
              .then(response => response.json())
              .then(data => {
                  if (data.url) {
                      alert('Signature saved and uploaded successfully! View PDF: ' + data.url);
                  } else {
                      alert('Failed to save and upload signature.');
                  }
              })
              .catch(error => console.error('Error:', error));
    }
  });
</script>
</body>
</html>
