<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div id="content1">
    <img src="" height="60px" width="40px">
</div>
<div id="content2" >
    <div th:if="${user != null}">
        <h2>User Information</h2>
        <table>
            <tbody th:object="${user}">
            <tr>
                <td>User Name:</td>
                <td th:text="*{username}"></td>
                <td><a th:href="@{/password-permission(id=${user.userId})}">Change Password</a></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td th:text="*{gender}"></td>
            </tr>
            <tr>
                <td>Birth: </td>
                <td th:text="*{#temporals.format(birthdate, 'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td>Phone: </td>
                <td th:text="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>Address: </td>
                <td th:text="*{address}"></td>
            </tr>
            <tr>
                <td>Indentify ID: </td>
                <td th:text="*{cccdNumber}"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td th:text="*{email}"></td>
            </tr>
            <!-- Add more fields as necessary -->
            </tbody>
        </table>
    </div>
    <div th:if="${errorMessage != null || succeedMessage != null}">
        <p th:text="${errorMessage} || ${succeedMessage}"></p>
    </div>
</div>
</body>
</html>
